@page "/home"

<h1>Signal Generator Home</h1>

<nav>
    <ul>
        <li><a href="/send-signal">Send Signal</a></li>
        <li><a href="/show-signal">Get Signal</a></li>
        <li><a href="/status-signal">Status</a></li>
    </ul>
</nav>

<p>به سیستم تولید و مدیریت سیگنال خوش آمدید!</p>

@code {
    // Add any necessary code-behind logic here
} 