<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <h3>صفحه یافت نشد! 😢</h3>
                <p>لطفاً از منوی کناری برای انتخاب صفحه استفاده کنید.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
