@page
@model SignalGenerator.Web.Pages.Home.IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Signal Generator Home</h1>

<nav>
    <ul>
        <li><a asp-page="/SendSignal/Index">Send Signal</a></li>
        <li><a asp-page="/ShowSignal/ShowSignal">Get Signal</a></li>
        <li><a asp-page="/StatusSignal/Index">Status</a></li>
    </ul>
</nav>

<p>به سیستم تولید و مدیریت سیگنال خوش آمدید!</p>
